/* src/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f7;
    padding: 20px;
  }

  .home-container h1 {
    font-size: 36px;
    color: #00796b;
    margin-bottom: 20px;
  }

  .home-image {
    width: 20%;
    /* max-width: 400px; */
    margin-bottom: 20px;
  }

  .player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-form div {
    margin-bottom: 10px;
  }

  .player-form label {
    margin-right: 10px;
    font-size: 18px;
  }

  .player-form input {
    padding: 5px;
    font-size: 16px;
  }

  .player-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .player-form button:hover {
    background-color: #004d40;
  }
